<?xml version="1.0" encoding="utf-8" ?>
<ROVconfiguration>
  <connection port="COM1" baud="250000"></connection>
  
  <thruster name="Fore Port" location="(0,0)" speedregister="0" rpmregister="14" tempregister="20"></thruster>
  <thruster name="Port Vertical" location="(1,0)" speedregister="1" rpmregister="15" tempregister="21"></thruster>
  <thruster name="Aft Port" location="(2,0)" speedregister="2" rpmregister="16" tempregister="22"></thruster>
  <thruster name="Fore Starboard" location="(0,2)" speedregister="3" rpmregister="17" tempregister="23"></thruster>
  <thruster name="Starboard Vertical" location="(1,2)" speedregister="4" rpmregister="18" tempregister="24"></thruster>
  <thruster name="Aft Starboard" location="(2,2)" speedregister="5" rpmregister="19" tempregister="25"></thruster>

  <manipulator name="Fore Grabber" location="(0,1)" register="6" upperbyte="false"></manipulator>
  <manipulator name="Aft Grabber" location="(2,1)" register="6" upperbyte="true"></manipulator>
  <manipulator name="Motor 3" location="" register="7" upperbyte="false"></manipulator>
  <manipulator name="Motor 4" location="" register="7" upperbyte="true"></manipulator>

  <relay name="Headlights" register="13" bit="0"></relay>
  <relay name="Relay 1" register="13" bit="1"></relay>
  <relay name="Relay 2" register="13" bit="2"></relay>

  <avionics yawregister="9" pitchregister="10" rollregister="11" depthregister="12"></avionics>
  
  <voltagesensor
</ROVconfiguration>